<div class="well">
    <ul class="nav nav-list">
        <li class="nav-header">Nos produits</li>
        <li class="active">
            <a href="#">Catégorie 1</a>
        </li>
        <li>
            <a href="#">Catégorie 2</a>
        </li>
    </ul>
</div>
