{% trans_default_domain 'FOSUserBundle' %}

<div class="row">

    <div class="col-md-3">
        {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
    </div>
    <div class="col-md-4">
        <h4>Changer le mot de passe</h4>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <br />
        <input class="btn btn-default" type="submit" value="{{ 'change_password.submit'|trans }}" />

        {{ form_end(form) }}
    </div>
</div>
