services:
    tva:
        class: ShopBundle\Twig\Extension\TvaExtension
        tags:
            - { name: twig.extension }

    montantTva:
        class: ShopBundle\Twig\Extension\MontantTvaExtension
        tags:
            - { name: twig.extension }

    redirectionListener:
        class: ShopBundle\Listener\RedirectionListener
        arguments: [@service_container,@session]
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }